/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

body
  height: 100vh
  min-height: 100%
  width: 100%
  margin: 0px !important
  padding: 0px !important
  scroll-behavior: smooth
  font-family: 'Roboto', sans-serif
  background: var(--body)

.content	
  height: -webkit-fill-available
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


\:root
  --primary:#48a97c
  --secondary:#4f4f4f
  --navbar-color:#48a97c
  --body:white
  --primary-text-color: #4f4f4f
  --secondary-text-color: #4f4f4f
  --selected-item: darkseagreen


\:root .dark-theme
  --primary:#4f4f4f
  --secondary:#48a97c
  --navbar-color:#4f4f4f
  --body:#111821
  --primary-text-color: #fafafa
  --secondary-text-color: #4f4f4f
  --selected-item: currentcolor
  